.UserImg {
    width: 10%;
    height: 10%;
    background-color: #f3d73e;
    border: 2px solid #271439;
    margin: 5px 0px 5px 0px;
}

.selectedPage {
    font-weight: bold;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient( 180deg, cadetblue, wheat );
    font-size: large;
    font-weight: bold;
}
.follow {
    background: linear-gradient( 360deg, cadetblue, wheat );
    border-radius: 2px;
}