.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    background: linear-gradient(90deg, #271439, white);
}

.logo {
    width: 70px;
    height: 70px;
    background: linear-gradient(90deg, white, #271439);
    border-radius: 50%;
    margin: 1%;
}

.logo:hover {
    background: linear-gradient(90deg, #271439, white);
}

.login {
    margin: 1%;
}

.item {
    margin: 1%;
    -webkit-text-stroke: 1px black;
}