.nav {
    grid-area: n;
    background-color: #225b83;
    padding: 20px;
    font-size: larger;
    font-family: Aharoni;
}
.item a{
    color: white;
    text-decoration: none;
    padding: 3%;
}
.item a.active {
    color: #f3d73e;
}

