.nav {
    background: linear-gradient(90deg, #271439, white);
    color: white;
    padding: 20px;
    font-size: larger;
    font-family: Aharoni, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}

.item {
    color: white;
    text-decoration: none;
    margin: 1%;
    -webkit-text-stroke: 1px black;
}
.item:hover {
    color: #271439;
}




